.home{

    text-align:center;

    margin-top:120px;

}

.portal-buttons{

    display:flex;

    justify-content:center;

    gap:40px;

    margin-top:40px;
    
}

.portal-buttons button{

    padding:15px 40px;

    font-size:22px;

    cursor:pointer;

}