.list-container{

    width:90%;

    margin:40px auto;
}

.list-container h2{

    margin-bottom:20px;
}

.job-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(280px,1fr));

gap:20px;

}

@media (max-width:768px){

    .list-container{
        width:95%;
    }

    .job-grid{
        grid-template-columns:1fr;
    }

}